*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'poppins';
}

h1{
    font-size: 50px;
    -webkit-background-clip: text;
    text-shadow: 0px 0px 10px blueviolet;
    animation: shine 2s ease-in-out infinite;
    font-weight: bolder;
    cursor: default;
    padding: 0% 0%;
    margin-bottom: 20px;
    transition: .4s ease-in-out;
}
h1:hover{
    color: rgb(240, 240, 202);
    -webkit-background-clip: text;
    text-shadow: 0px 0px 10px yellow;
    animation: shine 2s ease-in-out infinite;
}
.main-content{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

label.logo{
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    color: red;
    font-weight: bold;
    margin-right: -80px;
    font-family: 'Righteous';
}


nav{
    background: rgb(0,0,0, 0.8);
    height: 80px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 10px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    padding: 7px 13px;
    font-weight: 500;
    font-size: 18px;
    -webkit-background-clip: text;
    text-shadow: 0px 0px 10px blueviolet;
    animation: shine 2s ease-in-out infinite;
    transition: 0.2s ease-in-out;
    text-transform: uppercase;
}

a:hover{
    color: rgb(240, 240, 202);
    -webkit-background-clip: text;
    text-shadow: 0px 0px 10px yellow;
    animation: shine 2s ease-in-out infinite;
}

.btn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media(max-width: 900px){
    label.logo{
        font-size: 30px;
        padding-left: 25px;
    }
    h1{
        margin-left: 30px;
    }

    nav ul li a{
        font-size: 18px;
    }

}

@media(max-width: 750px){
    .btn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(0,0,0, 0.8);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 20px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: rgb(240, 240, 202);
        -webkit-background-clip: text;
        text-shadow: 0px 0px 10px yellow;
        animation: shine 2s ease-in-out infinite;
    }
    #check:checked ~ ul{
        left: 0;
    }
}


.video-bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    right: 0;
    bottom: 0;
    z-index: -1;

}

.main-content a button{
    text-decoration: none;
    position: absolute;
    border: 2px;
    font-size: 16px;
    font-weight: 700;
    font-family: 'poppins';
    color: #fff;
    padding: 10px;
    margin-left: -155px;
    width: 20em;
    /* height: 3em; */
    line-height: 1.5em;
    
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
   }
   
   button:hover {
    animation: ani 8s linear infinite;
    border: none;
   }
   
   @keyframes ani {
    0% {
     background-position: 0%;
    }
   
    100% {
     background-position: 400%;
    }
   }
   
   button:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
   }
   
   button:hover::before {
    filter: blur(20px);
   }
   
   button:active {
    background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
   }


/* ABOUT HTML */
html{
    scroll-behavior: smooth;
}

#deskripsi{
    width: 100%;
    height: 100%;
    display: inline-block;
}

section{
    height: 610px;
}

.card {
    width: 850px;
    height: 100%;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}
   
.card__content {
    background: rgb(5, 6, 45);
    border-radius: 17px;
    width: 100%;
    height: 100%;
}

.card__content h1{
    margin-left: 210px;
}

.card__content p{
    margin-left: 30px;
    margin-right: 30px;
    -webkit-background-clip: text;
    text-shadow: 0px 0px 10px blueviolet;
    animation: shine 2s ease-in-out infinite;
    cursor: default;
}

.fotodiri{
    margin-left: 300px;
    margin-top: -30px;
    width: 230px;
}

@media(max-width: 900px){
    #deskripsi{
        width: 100%;
        height: 120%;
        display: inline-block;
    }
    .card{
        width: 600px;
    }
    .card__content h1{
        margin-left: 80px;
    }

    .fotodiri{
        margin-left: 175px;
        margin-top: -30px;
        width: 230px;
    }
    .video-bg{
        
    }
}

@media(max-width: 750px){
    #deskripsi{
        width: 100%;
        height: 140%;
        display: inline-block;
    }

    .card__content h1{
        font-size: 40px;
    }
    .card{
        width: 460px;
    }
    .card__content h1{
        margin-left: 50px;
    }

    .fotodiri{
        margin-left: 105px;
        margin-top: -30px;
        width: 230px;
    }
}

#pendidikan{
    width: 100%;
    height: 90%;
    display: inline-block;
}

#pendidikan h1{
    margin-top: 50px;
    margin-left: 30%;
}

.tabel{
    font-family: 'poppins';
    font-size: 25px;
    width: 90%;
    border-collapse: collapse;
    border: 1px solid white;
    margin-top: 40px;
    margin-left: 5%;
}

.tabel tr th{
    background: rgb(5, 6, 45);
    font-weight: normal;
    cursor: default;
}

.tabel tr td{
    padding: 8px 20px;
    text-align: center;
    cursor: default;
}

.tabel tr:nth-child(even){
    background: rgb(5, 6, 45, 0.7);
}

.tabel tr:nth-child(odd){
    background: rgb(5, 6, 45,0.4);
}

@media(max-width: 1200px){
    #pendidikan h1{
        margin-top: 50px;
        margin-left: 23%;
        font-size: 40px;
    }
}

@media(max-width: 1050px){
    #pendidikan h1{
        margin-top: 50px;
        margin-left: 16%;
        font-size: 40px;
    }
}

@media(max-width: 900px){
    .tabel{
        font-family: 'poppins';
        font-size: 20px;
        width: 90%;
        border-collapse: collapse;
        border: 1px solid white;
        margin-top: 40px;
        margin-left: 5%;
    }
    #pendidikan h1{
        margin-top: 50px;
        margin-left: 16%;
        font-size: 40px;
    }
}

@media(max-width: 750px){
    .tabel{
        font-family: 'poppins';
        font-size: 14px;
        width: 90%;
        border-collapse: collapse;
        border: 1px solid white;
        margin-top: 40px;
        margin-left: 5%;
    }
    #pendidikan h1{
        margin-top: 50px;
        margin-left: 15%;
        font-size: 35px;
    }
}

#software{
    width: 100%;
    height: 100%;
    display: inline-block;
}

#software h1{
    margin-left:30%;
    margin-bottom: 50px;
}
.namahtml{
    z-index: 2;
    margin-top: -300px;
    margin-left: 60px;
    font-size: 35px;
    cursor: default;
}
.htmllogo{
    z-index: 2;
    width: 200px;
    margin-top: 80px;
    margin-left: -150px;

}
.xcard1 {
    width: 300px;
    height: 400px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 5%;
  }
  
  
  .xcard1::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
    
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .xcard1::after {
    content: '';
    position: absolute;
    background: #07182E;
    inset: 5px;
    border-radius: 15px;
  }  
  
.namacss{
    z-index: 2;
    margin-top: -300px;
    margin-left: 60px;
    font-size: 35px;
    cursor: default;
}
.csslogo{
    z-index: 2;
    width: 200px;
    margin-top: 80px;
    margin-left: -130px;

}
.xcard2 {
    width: 300px;
    height: 400px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 40%;
    margin-top: -400px;
  }
  
  
  .xcard2::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
    
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .xcard2::after {
    content: '';
    position: absolute;
    background: #07182E;
    inset: 5px;
    border-radius: 15px;
  }  
  
.namajs{
    z-index: 2;
    margin-top: -300px;
    margin-left: 180px;
    font-size: 35px;
    cursor: default;
}
.jslogo{
    z-index: 2;
    width: 400px;
    margin-top: 80px;
    margin-left: -220px;

}
.xcard3 {
    width: 300px;
    height: 400px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 75%;
    margin-top: -400px;
  }
  
  
  .xcard3::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
    
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .xcard3::after {
    content: '';
    position: absolute;
    background: #07182E;
    inset: 5px;
    border-radius: 15px;
  }  

@media(max-width: 1220px){
    .xcard1{
        width: 200px;
        height: 300px;
    }
    .htmllogo{
        width: 150px;
        margin-left: -120px;
    }
    .namahtml{
        margin-left: 40px;
        margin-top: -170px;
    }
    .xcard2{
        width: 200px;
        height: 300px;
        margin-top: -300px;
    }
    .csslogo{
        width: 150px;
        margin-left: -120px;
    }
    .namacss{
        margin-left: 40px;
        margin-top: -170px;
    }
    .xcard3{
        width: 200px;
        height: 300px;
        margin-top: -300px;
    }
    .jslogo{
        width: 300px;
        margin-left: -170px;
    }
    .namajs{
        margin-left: 140px;
        margin-top: -170px;
    }

}

@media(max-width: 1120px){
    #software h1{
        margin-left:15%;
        margin-bottom: 50px;
    }
}

@media(max-width: 750px){
    #software h1{
        margin-left:10%;
        margin-bottom: 50px;
        font-size: 40px;
    }
    .xcard1{
        width: 150px;
        height: 250px;
        margin-left: 2.5%;
    }
    .htmllogo{
        width: 120px;
        margin-left: -100px;
    }
    .namahtml{
        margin-left: 20px;
        margin-top: -150px;
        font-size: 30px;
    }
    .xcard2{
        width: 150px;
        height: 250px;
        margin-top: -250px;
        margin-left: 35%;
    }
    .csslogo{
        width: 120px;
        margin-left: -90px;
    }
    .namacss{
        margin-left: 30px;
        margin-top: -150px;
        font-size: 30px;
    }
    .xcard3{
        width: 150px;
        height: 250px;
        margin-top: -250px;
        margin-left: 67.5%;
    }
    .jslogo{
        width: 240px;
        margin-left: -140px;
    }
    .namajs{
        margin-left: 105px;
        margin-top: -150px;
        font-size: 30px;
    }

}

#porto{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.portocard {
    width: 750px;
    height: 115%;
    --border-radius: 15px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    border: 0;
    background: rgb(5, 5, 22);
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    z-index: -1;
    border-radius: 15px;
}
   
   .portocard::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(
           #488cfb,
           #29dbbc,
           #ddf505,
           #ff9f0e,
           #e440bb,
           #655adc,
           #488cfb
       );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
   }
   
   .portocard:hover::after {
    animation-play-state: running;
   }
   
   @keyframes rotate-hue {
    to {
     filter: hue-rotate(1turn);
    }
   }
   
   .portocard,
   .portocard::after {
    box-sizing: border-box;
   }
   
   .portocard:active {
    --border-width: 5px;
   }

.portocontent h1{
    margin-left: 175px;
}
.webporto1{
    margin-left:120px;
    margin-bottom: 10px;
    width: 500px;
}
.webporto2{
    margin-left:120px;
    margin-top: 5px;
    width: 500px;
}

@media(max-width: 900px){
    #porto{
        width: 100%;
        height: 100%;
        display: inline-block;
    }
    .portocard{
        width: 600px;
    }
    .portocontent h1{
        margin-left: 100px;
    }

    .webporto1{
        margin-left: 65px;
        margin-top:5px;
        width: 450px;
    }
    .webporto2{
        margin-left: 65px;
        margin-top:5px;
        width: 450px;
    }
}

@media(max-width: 750px){
    #porto{
        width: 100%;
        height: 80%;
        display: inline-block;
    }
    .portocard{
        width: 450px;
    }
    .portocontent h1{
        margin-left: 80px;
        font-size: 35px;
    }

    .webporto1{
        margin-left: 30px;
        margin-top:5px;
        width: 370px;
    }
    .webporto2{
        margin-left: 30px;
        margin-top:5px;
        width: 370px;
    }
}

#portokedua{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.postercard {
    width: 750px;
    height: 265%;
    --border-radius: 15px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    padding: 10px;
    margin: auto;
    margin-top: -400px;
    border: 0;
    background: rgb(5, 5, 22);
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    z-index: -1;
    border-radius: 15px;
}
   
   .postercard::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(
           #488cfb,
           #29dbbc,
           #ddf505,
           #ff9f0e,
           #e440bb,
           #655adc,
           #488cfb
       );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
   }
   
   .postercard:hover::after {
    animation-play-state: running;
   }
   
   @keyframes rotate-hue {
    to {
     filter: hue-rotate(1turn);
    }
   }
   
   .postercard,
   .postercard::after {
    box-sizing: border-box;
   }
   
   .postercard:active {
    --border-width: 5px;
   }

.postercontent h1{
    margin-left: 195px;
}
.posterporto1{
    margin-left:120px;
    margin-bottom: 10px;
    width: 500px;
}
.posterporto2{
    margin-left:120px;
    margin-top: 20px;
    width: 500px;
}

@media(max-width: 900px){
    #portokedua{
        width: 100%;
        height: 100%;
        display: inline-block;
    }
    .postercard{
        width: 600px;
        height: 1500px;
    }
    .postercontent h1{
        margin-left: 115px;
    }
    .posterporto1{
        margin-left: 65px;
        margin-top:5px;
        width: 450px;
    }
    .posterporto2{
        margin-left: 65px;
        margin-top:5px;
        width: 450px;
    }
}

@media(max-width: 750px){
    #portokedua{
        width: 100%;
        height: 80%;
        display: inline-block;
    }
    .postercard{
        width: 450px;
        height: 1200px;
    }
    .postercontent h1{
        margin-left: 80px;
        font-size: 35px;
    }

    .posterporto1{
        margin-left: 30px;
        margin-top:5px;
        width: 370px;
    }
    .posterporto2{
        margin-left: 30px;
        margin-top:5px;
        width: 370px;
    }
}

